# streamlit
# pandas
# numpy
# groq
# SpeechRecognition
# gspread
# oauth2client
# # sounddevice
# streamlit-webrtc

streamlit==1.31.1
streamlit-webrtc==0.47.1
aiortc==1.5.0
av==9.2.0
pandas
numpy
groq
SpeechRecognition
gspread
oauth2client
