# streamlit
# pandas
# numpy
# groq
# SpeechRecognition
# gspread
# oauth2client
# # sounddevice
# streamlit-webrtc

streamlit==1.31.1
streamlit-webrtc==0.47.7


pandas
numpy
groq
SpeechRecognition
gspread
oauth2client
